<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VueJS Todo App</title>
  </head>
  <body>
    <div id="app">

        <p>{{ message }}</p>
        <input type="text" v-model="message" >
        <p>
            <a v-bind:href="someLink"> Link to Google doodle</a>
        </p>
        <h2>Todos</h2>
        <ul v-if="showTodos">
          <li v-for="todo in todos">
            {{todo.title}}
          </li>
        </ul>
        <p v-else>
            You're Done Today!
        </p>
        <p>
          Showing Todos or not: {{showTodos}}
          <input type="checkbox" v-model="showTodos">
        </p>
    </div>
  <script src="vue.js" charset="utf-8"></script>
  <script src="main.js" charset="utf-8"></script>
</body>
</html>
