<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VueJS Todo App</title>
  </head>
  <body>
    <div id="app">

        <p>{{ message }}</p>
        <input type="text" v-model="message" >
        <p>
            <a v-bind:href="someLink"> Link to Google doodle</a>
        </p>
        <h2>Todos</h2>
        <ul v-if="showTodos">
          <li v-for="(todo,index) in todos">
            <!-- must include index after the todo element in the todos only able to remove from
          the removeTodo function below, the youtube tutorial gets warning without it -->
            <span>{{todo.title}}</span><button type="button" v-on:click="removeTodo(index)"> Remove</button>
          </li>
        </ul>
        <p v-else>
            You're Done Today!
        </p>
        <p>
          Showing Todos or not: {{showTodos}}
          <input type="checkbox" v-model="showTodos">
        </p>

        <p>
          <input type="text" v-model="todoInput" v-on:keyup.esc="clearTodo" v-on:keyup.enter="createNewList">
        </p>

        <p>
          Count = {{count}}
          <button type="button" v-on:click="upCount">increase count</button>
        </p>
    </div>
  <script src="vue.js" charset="utf-8"></script>
  <script src="main.js" charset="utf-8"></script>
</body>
</html>
